venv/
.ipynb_checkpoints/
__pycache__
*.pyc
.idea/
# Run the training scripts to generate the models
examples/linear/models.pkl
examples/lstm/data/OxCGRT_latest.csv
examples/lstm/trained_model.h5
examples/xgboost/models.pkl
