# Copyright 2020 (c) Cognizant Digital Business, Evolutionary AI. All rights reserved. Issued under the Apache 2.0 License.
# data science
pandas==1.5.3
numpy==1.24.2
notebook==6.5.3
scikit-learn==1.2.2
scipy==1.10.1
tensorflow==2.13.0
keras==2.13.1
neat-python==0.92
h5py==3.8.0

# plotting
plotly==5.13.1
matplotlib==3.7.1

# tests
pytest==7.3.1
